#header-photo {
	width: 40%;
	
}

.topnav {
	background-color: brown;
	overflow: hidden;
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Homepage.jsp layout */
#park-list-div{
  display:flex;
  flex-wrap: wrap;
  
   margin: 10px;
   width:200px;
  
}

#park-list-div:hover {
  border: 1px solid #777;
}

#park-list{
	flex: 50%;
	padding: 4px;
	
}

img {
  width: 100%;
  height: auto;
  margin-top: 8px;
  vertical-align: middle;
  
}

#info-desc {
   margin-top: 8px;
  vertical-align: middle;
}